  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
  :root{
      --main-bg:rgb(76, 76, 145);
      --slider-color:white;
  }
  [data-theme="dark"]
  {
      --main-bg:rgb(2,5,29);
      --slider-color:black;
      --foot-color:white;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Quicksand', sans-serif;
  }
  body{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      background-color: var(--main-bg);
  }
  .theme-switch-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 42px;
      margin-bottom: 20px;
  }
  .theme-switch{
      display: inline-block;
      height: 16px;
      position: relative;
      width: 50px;
      margin-right: 12px;
  }
  .theme-switch input{
      display: none;
  }
  .slider{
      background-color: var(--slider-color);
      bottom: 0;
      cursor:pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.4s;
  }
  .foot{
      color: var(--foot-color);
  }
  .foot::before{
      color: black;
  }
  .slider:before{
      background-color: rgb(11, 145, 255);
      content: "";
      bottom: -5px;
      height: 26px;
      right: 25px;
      position: absolute;
      transition: 0.4s;
      width: 26px;
  }
  input:checked + .slider{
       background-color: var(--slider-color);
       bottom: 0;
  }
  input:checked + .slider:before{
      transform: translateX(26px);
  }
  .slider{
      border-radius: 34px;
  }
  .slider:before{
      border-radius: 50%;
  }
  .container{
      margin: 15px;
      position: relative;
      background-color: rgba(255,255,255,0);
      border-radius: 6px;
      overflow: hidden;
      z-index: 10;
      backdrop-filter: blur(30px);
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  }
  .container .calculator{
      position: relative;
      display: grid;
  }
  .container .calculator .value{
      grid-column: span 4;
      height: 140px;
      width: 300px;
      text-align: right;
      border: none;
      outline: none;
      padding: 10px;
      color: #fff;
      font-size: 30px;
      background: transparent;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      border-left: 1px solid rgba(255, 255, 255, 0.05);
  }
  .container .calculator span{
      display: grid;
      place-items: center;
      width: 75px;
      height: 75px;
      color: #fff;
      font-weight: 400;
      cursor: pointer;
      font-size: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      transition: 0.5s;
  }
  .container .calculator span:hover{
      transition: 0.1s;
      background-color: rgba(0, 0, 0, 0.2);
  }
  .container .calculator .clear{
      grid-column: span 2;
      width: 150px;
      background: rgba(255, 255, 255, 0.05);
  }
  .container .calculator span:active{
      background: #14ff47;
    
      color: #192f00;
      font-size: 24px;
      font-weight: 500;
  }
  .container .calculator .plus{
      grid-row: span 2;
      height: 150px;
  }
  .container .calculator.equal{
    background: rgba(255, 255, 255, 0.05);
  }
